.list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./../../fonts/Poppins-Regular.ttf) format("truetype");
}