@import "./../../variebles.scss";

* {
  border: none;
  outline: none;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url(./../../fonts/Poppins-Regular.ttf) format("truetype");
}

.mainContainer {
  position: relative;
  @include size(344px, 64px);
  margin-left: 122px;

  .inputContainer {
    padding-left: 56px;
    padding-right: 56px;
    @include size(100%, 100%);
    @include fontSizeWeightHeight(14px, 400, 16px);
    font-family: "Poppins";
    color: $colorDarkGray;
    background-color: #121829;
    border: 1.5px solid #61697f;
    border-radius: 12px;

    &:focus {
      border: 1.5px solid $backColorHoverButton;
    }
    &::placeholder {
      color: #475069;
    }
  }

  .searchIcon,
  .clearButton,
  .icon {
    box-sizing: border-box;
    @include size(19px, 19px);
    border: none;
    background-color: inherit;
  }
  .searchIcon {
    @include myPosition(absolute, 22.5px, 18px);
  }
  .clearButton {
    position: absolute;
    top: 22.5px;
    right: 18px;
  }
}
