.sug-show {
  margin: 10px 12px;
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 520px;
  background-color:  rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(80px);
  border-radius: 12px;
  padding-top: 8px;
  overflow: hidden;
}

.like {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 14px;
  margin-right: 10px;
  margin-top: 14px;
  color: #7B6EF6;
}
.like:hover{
  color:#5a4af4;
  stroke: #5a4af4;
}
.like:hover .sug-svg{
  stroke:#5a4af4;
}
.sug-svg {
  margin-right: 10px;
  stroke: #7B6EF6;
}


.sug-a {
  display: flex;
  justify-content: center;
}

.sug-containerImageShow{
  display: flex;
  width: 266px;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;;
  margin-left: 8px;
}
.sug-photo {
 width: inherit;
 height: inherit;
 transform: scale(1);
 transition: 0.3s;
}

.sug-photo:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.sug-show:hover .sug-photo{
  transform: scale(1.05);
  transition: 0.3s;
}

.sug-p {
  margin-top: 10px;
  margin-left: 18px;
  font-size: 16px;
  font-weight: 600;
  color:  #EBEEF5;
}

.sug-textName {
  position: relative;
  color: #EBEEF5;
  margin-left: 16px;
  margin-top: 18px;
}

