//@import "../../variebles.scss";
.wrapper {
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  margin-left: 120px;
  margin-bottom: 50px;
  font-size: 16px;
  color: #BEB7FB;
}

h1.pText {
  margin: 20px 0 16px 120px;
  font-size: 64px;
  color: #EBEEF5;
}

.num { 
  width: 1440px;
  display: flex;
  margin-left: 36px;
  padding-top: 48px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home {
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h3 {
  margin-left: 88px;
  width: 74px;
  height: 24px;
  color: rgba(118, 126, 148, 1);
  font-size: 16px;
}

.skeleton {
  width: 282px;
  height: 480px;
  margin: 10px 12px;
  border-radius: 12px;
  background:  rgba(18, 24, 41, 1);
  padding-top: 8px;
  background-image: radial-gradient( 100%, transparent 0%);
  animation: fade 1s linear infinite alternate;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.skeletonImages {
  display: flex; 
  width: 266px;
  height: 400px;
  margin-left: 8px;
  background:  rgba(32, 40, 62, 1);
  border-radius: 8px;
}

.skeletonRaiting {
  margin-top: 10px;
  margin-left: 8px;
  width: 60px;
  height: 40px;
  background: rgba(0, 0, 0, .2);
  border-radius: 8px;
}

.skeletonText {
  display: flex;
  width: 150px;
  height: 20px;
  margin-left: 8px;
  margin-top: 26px;
  background:  rgba(32, 40, 62, 1);
  border-radius: 8px;
}

/*.cardsListBlock  {
  @include displayFlex(row, center);
  flex-wrap: wrap;
}*/


 .cardsListContent { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}


.mainCardBlock {
  display: flex;
  flex-wrap: wrap;
  }


.show {
  margin: 10px 12px;
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 480px;
  background:  rgba(18, 24, 41, 1);
  border-radius: 12px;
  padding-top: 8px;
  overflow: hidden;
  }


 .star {
  color: #FFAD49;
  margin-right: 5px;
  }


span  {
  color: #FFAD49;
  }

a {
  display: flex;
  justify-content: center;
}

.photo {
  display: flex;
  width: 266px;
  height: 400px;
  border-radius: 8px;
  margin-left: 8px;
}

.photo:hover {
  transform: scale(1.05);
  transition: 0.3s;

}

.raiting {
  width: 60px;
  height: 40px;
  margin-top: 10px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 8px;
  background:rgba(0, 0, 0, .65);

}

p {
  margin: 0;
}

.textName {
  position: relative;
  color: #EBEEF5;
  margin-left: 16px;
  margin-top: 24px;

}

