* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$backColorMain: #121829;
$backColorButton: #7b6ef6;
$backColorHoverButton: #5a4af4;
$colorWhite: #ebeef5;
$colorLightGray: #c3c8d4;
$colorGray: #8e95a9;
$colorDarkGray: #767e94;

html{
  background-image: url(pages/showDetail/images/Background.svg);
  background-size: cover;
  background-color: $backColorMain;
}

@mixin minsize($minWidthItem, $minHeightItem) {
  width: $minWidthItem;
  min-height: $minHeightItem;
}
@mixin size($widthItem, $HeightItem) {
  width: $widthItem;
  height: $HeightItem;
}
@mixin backTextColor($backCol, $textCol) {
  background-color: $backCol;
  color: $textCol;
}
@mixin fontSizeWeightHeight($fontSize, $fontWeight, $lineHeight) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}
@mixin displayFlex($flexDir, $justCont) {
  display: flex;
  flex-direction: $flexDir;
  justify-content: $justCont;
}
@mixin myPosition($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}
